<?xml version="1.0"?>
<launch>
  <arg name="localization" default="true"/>

  <include file="$(find racecar_gazebo)/launch/racecar_tunnel_genie.launch"></include>
  <include file="$(find racecar_navigation)/launch/slam.launch">
    <arg name="localization" value="$(arg localization)"/>
    <arg name="database_path" value="$(find racecar_behaviors)/maps/tunnel_genie.db"/>
  </include>
  
  <include file="$(find racecar_navigation)/launch/rviz.launch"></include>
  
  <!-- Paramètres de détection de ballon bleu -->
  <param name="racecar/blob_detector/border" value="15"></param>
  <param name="racecar/blob_detector/color_hue" value="100"></param>
  <param name="racecar/blob_detector/color_range" value="30"></param>
  <param name="racecar/blob_detector/color_saturation" value="30"></param>
  <param name="racecar/blob_detector/color_value" value="30"></param>

   
  <include file="$(find racecar_behaviors)/launch/blob_detection.launch"></include> 
  
  <include file="$(find racecar_navigation)/launch/navigation.launch"></include>
  
  <include file="$(find racecar_behaviors)/launch/behaviors.launch"></include> 
  
</launch>
